// example for modern desktop browsers support

@font-face {
  font-family: "My font";
  font-weight: 400;
  font-style: normal;
  // names for local fonts could be found in the external file provided by Google Fonts
  src: local("My font"),
       local("Myfont-regular"),
       url("../font/my-font-regular.woff2") format("woff2"),
       url("../font/my-font-regular.woff") format("woff");
}

@font-face {
  font-family: "My font";
  font-weight: 700;
  font-style: normal;
  src: local("My font"),
       local("Myfont-Bold"),
       url("../font/my-font-bold.woff2") format("woff2"),
       url("../font/my-font-bold.woff") format("woff");
}



// example for support in desktop and mobile browsers

@font-face {
  font-family: 'My Font';
  src: url('my-font.eot');
  src: url('my-font.eot?#iefix') format('embedded-opentype'),
       url('my-font.woff2') format('woff2'),
       url('my-font.woff') format('woff'),
       url('my-font.ttf')  format('truetype'),
       // be careful with svg file name
       url('my-font.svg#my-font') format('svg');
}
