//////////////////
// Custom checkbox
//////////////////

.checkbox:enabled,
.checkbox:disabled {
  display: none;
}

.checkbox:enabled + label {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;

  // pseudo checkbox

  &::before {
    content: "";
    position: absolute;
    left: 0;
    font-family: @icon-font-name;
    transition: color .15s;
  }

  .checkbox:enabled:checked + &::before {
    content: "";
  }

  .checkbox:disabled + &::before {
    opacity: .3;
  }
}





///////////////////
// Custom radio btn
///////////////////

.radio-btn:enabled,
.radio-btn:disabled {
  display: none;
}

.radio-btn:enabled + label {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;

  // pseudo radio btn

  &::before {
    content: "";
    position: absolute;
    left: 0;
    font-family: @icon-font-name;
    transition: color .15s;
  }

  .radio-btn:enabled:checked + &::before {
    content: "";
  }

  .radio-btn:disabled + &::before {
    opacity: .3;
  }
}





////////////////////////////////////////////////////////////
// Custom checkbox which looks like a switcher: (o ) -> ( o)
////////////////////////////////////////////////////////////

.label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.checkbox:enabled,
.checkbox:disabled {
  display: none;
}

.text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 3em;

  // pseudo checkbox

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1em;
    margin-top: -.5em;
  }

  // ( )
  &::before {
    width: 2em;
    background: #ddd;
    border-radius: .5em;
  }

  // o
  &::after {
    width: 1em;
    background: #999;
    border-radius: 50%;
    transition:
      left .14s,
      background-color .14s;

    .checkbox:enabled:checked + & {
      left: 1em;
      background-color: #87eb12;
    }
  }
}





////////////////////////////////////
// Removing arrows from input:number
////////////////////////////////////

[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}





/////////
// Filter
/////////

.filter {

  &__fieldset {
    .fieldset-reset;
  }

  &__list {
    .ul-reset;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // custom checkboxes

  &__checkbox:enabled,
  &__checkbox:disabled {
    display: none;
  }

  &__checkbox:enabled + &__label {
    position: relative;
    display: block;
    padding-left: 40px;
    cursor: pointer;

    // pseudo checkbox

    &::before {
      content: "";
      position: absolute;
      left: 0;
      font-family: @icon-font-name;
      transition: color .15s;
    }

    .filter__checkbox:enabled:checked + &::before {
      content: "";
    }

    .filter__checkbox:disabled + &::before {
      opacity: .3;
    }
  }

  // custom radio

  &__radio-btn:enabled,
  &__radio-btn:disabled {
    display: none;
  }

  &__radio-btn:enabled + &__label {
    position: relative;
    display: block;
    padding-left: 40px;
    cursor: pointer;

    // pseudo radio

    &::before {
      content: "";
      position: absolute;
      left: 0;
      font-family: @icon-font-name;
      transition: color .15s;
    }

    .filter__radio-btn:enabled:checked + &::before {
      content: "";
    }

    .filter__radio-btn:disabled + &::before {
      opacity: .3;
    }
  }

  // custom range

  &__range {
    position: relative;
    height: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &__scale {
    height: 2px;
    background-color: fade(#222, 20);
  }

  &__bar {
    height: inherit;
    background-color: #222;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    .square(20px);
    margin-top: -10px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .15s;

    &--min {
      left: 0;
    }

    &--max {
      left: 50%;
    }

    &:hover {
      background-color: darken(#fff, 20%);
    }
  }

  &__min-price,
  &__max-price {
    width: 1em;
    max-width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background-color: transparent;
    outline: none;
    // hide arrows
    -moz-appearance: textfield;

    // hide arrows
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}





////////////////////////////////////////////////////////////////
// Change placeholder color (не группировать! а то не сработает)
////////////////////////////////////////////////////////////////

[type="search"]::-moz-placeholder { color: #ffd595; } // not working
[type="search"]::-webkit-input-placeholder { color: #ffd595; }
[type="search"]:-ms-input-placeholder { color: #ffd595; }
[type="search"]::-ms-input-placeholder { color: #ffd595; }
[type="search"]::placeholder { color: #ffd595; }
