.pagination {
  .ul-reset;
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-size: 16px;

    &:last-child {
      margin-right: 0;
    }

    &--current{
      padding: 10px 15px;
    }
  }

  &__link {
    display: block;
    padding: 10px 15px;
    .link-reset;
    transition:
      color .15s,
      background-color .15s,
      border-color .15s;

    &--disabled {
      opacity: .5;
    }
  }

  &__sr-only {
    display: none;
  }
}
