////////////////////////////////////////////////////////////////////////////////
// Popup
////////////////////////////////////////////////////////////////////////////////

.popup {
  position: fixed;
  top: 0;
  z-index: @z-index_popup--hidden;
  width: 100%;
  height: 100%;

  &--show {
    z-index: @z-index_popup--show;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
