.socials {
  .ul-reset;
  font-size: 0;
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: middle;
    // margin-right: ;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    // width: ;
    // height: ;
    // color: ;
    // line-height: ;
    // background-color: ;
    border-radius: 50%;
    transition: color .15s,
                background-color .15s;

    &:hover {
      // background-color: ;
    }

    &:active {
      color: ;
      // background-color: ;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: baseline;
    font-size: 16px;

    // in case when we're using sprites

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background: transparent url(../img/spritesheet.png) no-repeat;
    }

    // &--modifier::before {
    //   width: @modifier-width;
    //   height: @modifier-height;
    //   background-position: @modifier-offset-x @modifier-offset-y;
    }
  }
}
