@font-face {
  font-family: 'symbols';
  src: url('../font/symbols.eot?66250449');
  src: url('../font/symbols.eot?66250449#iefix') format('embedded-opentype'),
       url('../font/symbols.woff?66250449') format('woff'),
       url('../font/symbols.ttf?66250449') format('truetype'),
       url('../font/symbols.svg?66250449#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"]::before {
  display: inline-block;
  vertical-align: top;
  font-family: "symbols";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// [class*="icon--facebook"]::before { content: '\e800'; }
// [class*="icon--twitter"]::before { content: '\e801'; }
// [class*="icon--right"]::before { content: '\e802'; }
