////////////////////////////////////////////////////////////////////////////////
// Responsive table based on display:block and data attributes.
// Source: http://codepen.io/geoffyuen/pen/FCBEg
////////////////////////////////////////////////////////////////////////////////

.table {
  border-collapse: collapse;

  &__row {
    border-top: 1px solid #ddd;
  }
  &__row:last-child {
    border-bottom: 1px solid #ddd;
  }

  &__heading,
  &__cell {
    padding: .5em 1em;
  }

  &__heading {
    display: none;
  }

  &__cell {
    display: block;
  }
  &__cell:first-child {
    padding-top: 1em;
  }
  &__cell:last-child {
    padding-bottom: 1em;
  }
  &__cell::before {
    content: attr(data-th)": ";
    display: inline-block;
    vertical-align: baseline;
    // magic number
    width: 7em;
    font-weight: 700;
  }
}

@media(min-width: 480px) {
  .table {

    &__heading {
      display: table-cell;
    }

    &__cell {
      display: table-cell;
      text-align: center;
    }
    &__cell:first-child {
      padding-top: .5em;
    }
    &__cell:last-child {
      padding-bottom: .5em;
    }
    &__cell::before {
      display: none;
    }
  }
}
