///////////////////////////////////////////////////////////////////////////////////////////////////
// Most usefull
///////////////////////////////////////////////////////////////////////////////////////////////////

.center() {
  margin-left: auto;
  margin-right: auto;
}

.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}





///////////////////////////////////////////////////////////////////////////////////////////////////
// Reset
///////////////////////////////////////////////////////////////////////////////////////////////////

.ul-reset() {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link-reset() {
  color: inherit;
  text-decoration: none;
}

.fieldset-reset() {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}

.children-reset() {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}





///////////////////////////////////////////////////////////////////////////////////////////////////
// Underlines
///////////////////////////////////////////////////////////////////////////////////////////////////

.underline(full-width, @height, @bg) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: @height;
    background-color: @bg;
  }
}


.underline(center, @gutter, @height, @bg) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: @gutter;
    right: @gutter;
    height: @height;
    background-color: @bg;
  }
}


.underline(left, @width, @height, @bg) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: @width;
    height: @height;
    background-color: @bg;
  }
}


// A strip and a triangle in the center
.underline(with-triangle, @gutter, @strip-height, @triangle-size, @bg) {
  &::before, &::after {
    content: "";
    position: absolute;
    bottom: 0;
  }

  &::before {
    left: @gutter;
    right: @gutter;
    height: @strip-height;
    background-color: @bg;
  }

  &::after {
    left: 50%;
    margin-left: -@triangle-size;
    border-width: 0 @triangle-size @triangle-size @triangle-size;
    border-style: solid;
    border-color: transparent transparent @bg transparent;
  }
}





///////////////////////////////////////////////////////////////////////////////////////////////////
// Diagonal background
///////////////////////////////////////////////////////////////////////////////////////////////////


// Фон, скошенный сверху.
.bg-diagonal(@first-color, @second-color, @diagonal-height) {
  background:
    @second-color
    linear-gradient(
      to right bottom,
      @first-color 0%,
      @first-color 50%,
      @second-color 50%,
      @second-color 100%)
    top
    no-repeat;
  background-size: 100% @diagonal-height;
}


// Фон, скошенный сверху и снизу.
.bg-diagonal(@first-color, @second-color, @diagonal-height) {
  background:
    linear-gradient(
      to right bottom,
      @first-color 0%,
      @first-color 50%,
      @second-color 50%,
      @second-color 100%)
    top
    no-repeat,
    @second-color
    linear-gradient(
      to right bottom,
      @second-color 0%,
      @second-color 50%,
      @first-color 50%,
      @first-color 100%)
    bottom
    no-repeat;
  background-size:
    100% @diagonal-height,
    100% @diagonal-height;
}


// Фон в виде перевернутого треугольника
.bg-triangle(@first-color, @second-color, @triangle-height) {
  background:
    linear-gradient(
      to right top,
      @first-color 0%,
      @first-color 50%,
      @second-color 50%,
      @second-color 100%)
    bottom left
    no-repeat,
    @second-color
    linear-gradient(
      to right bottom,
      @second-color 0%,
      @second-color 50%,
      @first-color 50%,
      @first-color 100%)
    bottom right
    no-repeat;
  background-size:
    50% @triangle-height,
    50% @triangle-height;
}


// Ярлык, повернутый на -45deg
.has-tag(@content, @top, @left, @zi-tag, @bg) {
  position: relative;
  overflow: hidden;

  &::before {
    content: "@{content}";
    position: absolute;
    top: @top;
    left: @left;
    z-index: @zi-tag;
    width: 100px;
    background-color: @bg;
    transform: rotate(-45deg);
  }
}
