///////////////////////////////////////////////////////////////////////////////////////////////////
// Colors
///////////////////////////////////////////////////////////////////////////////////////////////////

// @color-1: ;
// @color-2: ;





///////////////////////////////////////////////////////////////////////////////////////////////////
// Typography
///////////////////////////////////////////////////////////////////////////////////////////////////

@font-family-1: "First Font", Tahoma, sans-serif;
@font-family-2: "Secomd Font", Tahoma, sans-serif;


// Text

@text_font-size: 16px;
@text_line-height: 26px;
@text_font-family: @font-family-1;
@text_color: #333;


// Headings

// @h1_font-size: ;
// @h2_font-size: ;
// @h3_font-size: ;

// @h1_line-height: ;
// @h2_line-height: ;
// @h3_line-height: ;

@headings_font-family: @font-family-2;
@headings_color: #222;





///////////////////////////////////////////////////////////////////////////////////////////////////
// Iconography
///////////////////////////////////////////////////////////////////////////////////////////////////

@icon-font_name: "project-symbols";
@icon-font_path: "../font/";





///////////////////////////////////////////////////////////////////////////////////////////////////
// z-index
///////////////////////////////////////////////////////////////////////////////////////////////////

@z_1: 1;
@z_2: 2;
