.socials {
  .ul-reset;
  font-size: 0;
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: block;
    .square(40px);
    font-size: 16px;
    line-height: 40px;
    background-color: #222;
    border-radius: 50%;
    transition:
      color .15s,
      background-color .15s;

    &:hover {
      background-color: lighten(#222, 10%);
    }

    &:active {
      background-color: darken(#222, 10%);
    }
  }

  &__sr-only {
    display: none;
  }
}
