.btn {
  // common styles

  display: inline-block;
  padding: 15px 30px;

  font-size: @btn-font-size-base;
  line-height: @btn-line-hight-base;
  text-decoration: none;
  text-align: center;

  color: @btn-color-default;
  background-color: @btn-bg-default;
  border: none;
  outline: none;
  border-radius: @btn-border-radius-base;

  transition:
    color .15s,
    border-color .15s,
    background-color .15s,
    box-shadow .15s;

  // various btn types go here

  &--modifier {

  }
}
