.socials {
  .ul-reset;

  &__item {

  }

  &__link {
    display: block;
    // width: ;
    // height: ;
    // font-size: ;
    // line-height: ;
    // background-color: ;
    // border-radius: ;
    transition:
      // color .15s,
      background-color .15s;

    &:hover {
      // background-color: ;
    }
    &:active {
      // background-color: ;
    }
  }

  &__text-hidden {
    display: none;
  }
}
