.main-nav {
  &__list {
    .ul-reset;
  }

  &__item {
    &--current {

    }
  }

  &__link {
    display: block;
    transition:
      color .15s,
      background-color .15s;

    &:hover {

    }
    &:active {
      
    }
  }

  &__text-hidden {
    display: none;
  }
}
