.center() {
  margin-left: auto;
  margin-right: auto;
}

.inner(@width) {
  width: @width;
  margin-left: auto;
  margin-right: auto;
}

.inner(@min-width, @max-width) {
  min-width: @min-width;
  max-width: @max-width;
  margin-left: auto;
  margin-right: auto;
}

.ul-reset() {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link-reset() {
  color: inherit;
  text-decoration: none;
}

.heading-underline(center) {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  right: 25%;
  height: 1px;
  background-color: #f57365;
}

.heading-underline(left) {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  right: 25%;
  height: 1px;
  background-color: #f57365;
}

// &::before
.icon-top(@width, @height, @mb) {
  content: "";
  display: block;
  width: @width;
  height: @height;
  .center;
  margin-bottom: @mb;
  background: transparent url(../img/spritesheet.png) no-repeat;
}
//&--modifier::before {
//  background-position: x y;
//}



// &::after
.clearfix() {
  content: "";
  display: table;
  clear: both;
}