h1, h2, h3, h4, h5, h6 {
  color: @heading_color;
  font-family: @heading_font;
}

h1 {
  // размер шрифта умножаем на 1.4, получаем размер интерлиньяжа; умножаем на 1.4, получаем отступ; умножаем на 2, чтобы отступ сверху был больше, чем снизу; умножаем на 1px, получаем значение в px; полученное округляем
  margin-top: ceil((@h1_size * 1.4 * 1.4 * 2 * 1px));
  // размер шрифта умножаем на 1.4, получаем размер интерлиньяжа; умножаем на 1.4, получаем отступ; умножаем на 1px, получаем значение в px; полученное округляем
  margin-bottom: ceil((@h1_size * 1.4 * 1.4 * 1px));
  font-size: @h1_size;
  line-height: @h1_line-height;
}

h2 {
  margin-top: ceil((@h1_size * 1.4 * 1.4 * 2 * 1px));
  margin-bottom: ceil((@h1_size * 1.4 * 1.4 * 1px));
  font-size: @h2_size;
  line-height: @h2_line-height;
}

h3 {
  margin-top: ceil((@h1_size * 1.4 * 1.4 * 2 * 1px));
  margin-bottom: ceil((@h1_size * 1.4 * 1.4 * 1px));
  font-size: @h3_size;
  line-height: @h3_line-height;
}

h4 {
  margin-top: ceil((@h1_size * 1.4 * 1.4 * 2 * 1px));
  margin-bottom: ceil((@h1_size * 1.4 * 1.4 * 1px));
  font-size: @h4_size;
  line-height: @h4_line-height;
}

h5 {
  margin-top: ceil((@h1_size * 1.4 * 1.4 * 2 * 1px));
  margin-bottom: ceil((@h1_size * 1.4 * 1.4 * 1px));
  font-size: @h5_size;
  line-height: @h5_line-height;
}

h6 {
  margin-top: ceil((@h1_size * 1.4 * 1.4 * 2 * 1px));
  margin-bottom: ceil((@h1_size * 1.4 * 1.4 * 1px));
  font-size: @h6_size;
  line-height: @h6_line-height;
}





p {
  margin-top: ceil((@text_size * 1.4 * 1.4 * 1px));
  margin-bottom: ceil((@text_size * 1.4 * 1.4 * 1px));
}





ul, ol, dl {
  margin-top: ceil((@text_size * 1.4 * 1.4 * 1px));
  margin-bottom: ceil((@text_size * 1.4 * 1.4 * 1px));
}

ul {
  
}

ol {
  
}

dl {
  
}