footer.page-footer
  .page-footer__center  
    +socials([{
      icon: "facebook",
      href: "#",
      hint: "We on Facebook"
    }, {
      icon: "twitter",
      href: "#",
      hint: "We on Twitter"
    }, {
      icon: "pinterest-circled",
      href: "#",
      hint: "We on Pinterest"
    }, {
      icon: "gplus",
      href: "#",
      hint: "We on Google+"
    }, {
      icon: "dribbble",
      href: "#",
      hint: "We on Dribbble"
    }])
